@charset"UTF-8";
body{font-size: 10px}
#wrap{height: 100vh;}
#main-banner{width:100%;min-height:280px;background-color:#eee;}
#nav{width:100%;border-radius:40px;transition: all .5s ease;}
#nav>ul{width:100%;display:flex;flex-direction:row;justify-content:center;align-items:center;min-height:60px;background-color:aliceblue;border-radius:12px;}
#nav>ul>li{flex:1;text-align:center;height: 60px; display: flex; align-items: center}
#nav>ul>li >a{display: block; width: 100%;padding: 20px 0}
#nav.fixed{position: fixed;top:0;z-index: 10;}
.from { color: #fff; position: absolute; top: 8px; left: 8px; z-index: 2; opacity: 0.8;font-size: 10px; }
.from * { color: #fff;}

#main-banner .swiper-slide{width: 100%; height: 280px;}
#main-banner img{display: block;width: 100%; margin: auto}
#main-banner .swiper-button-next.next,
#main-banner .swiper-button-prev.prev{ width: 68px; height: 68px;}
#main-banner .swiper-button-next.next:after { content: ''; display: inline-block; width: 100%; height: 100%;background: url('/inc/img/ico/round-arrow.png') 0 0 no-repeat; background-size: contain;}
#main-banner .swiper-button-prev.prev:after {content: ''; display: inline-block; width: 100%; height: 100%;background: url('/inc/img/ico/round-arrow.png') 0 7px no-repeat; background-size: contain; transform: rotate(180deg);}

#contents{padding: 0 60px; }
#nav.fixed + #contents #area-01{padding-top:120px;}
#area-01,#area-02,#area-03{padding-top:60px;}

#area-01{display:flex;flex-direction:row;gap:20px;}
#area-01 .cont-row{flex:1;padding:20px;min-height:250px;}
#area-01 .cont-row + .cont-row{padding: 0;display:flex;flex-direction:column;gap:20px;}
#area-01 .cont-row + .cont-row .cont-col{position: relative; flex:1;padding:20px; box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2);border-radius: 8px; }
#area-01 .cont-row + .cont-row .cont-col> ul{display: flex; height: 100%; align-items: end; justify-content: center; height: 135px; }
#area-01 .cont-row + .cont-row .cont-col> ul>li{flex: 1; height: 100%; }
#area-01 .cont-row + .cont-row .cont-col> ul>li:hover{pointer-events: none}

#area-01 img.profile { margin: 0 auto 30px; display: block; width: 80px; height: auto; }
#area-01 .cont-row:first-child { width: 200px; flex: none; border-radius: 8px; box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2); }
#area-01 .cont-row .info-txt { font-size: 1.3em; }
#area-01 .cont-row + .cont-row .cont-col:first-child{overflow: hidden; padding: 0; min-height: 132px}
#area-01 .cont-row + .cont-row .cont-col:first-child:before {content: "";background: url('/inc/img/2.png') -29px 3px no-repeat;position: absolute;bottom: 0;left: 0;right: 0px;width: auto;height: 100%;background-size: auto 130px;}
#area-01 .cont-row + .cont-row .cont-col:first-child > p{font-size: 1.3em;position: relative;width: 50%;position: absolute;top: 17px;right: 15px;}



#area-02 {display:flex; width: 100%; }
#area-02 > ul{display: flex;flex-direction: row;justify-content: space-around;width:100%;min-height: 600px;gap: 20px;}
#area-02 > ul > li{flex: 1; width: 100%;height: 60px ;padding: 20px 0; }
#area-02 > ul > li .board {min-height: 300px;}

#area-03 {min-height: 650px;}

.box-01{}
.box-01 h3{ }
.box-01 .cont{ }
.box-01 .cont>ul,
.box-03 .cont>ul{display: flex; flex-direction: column; gap: 20px; }
.box-01 .cont>ul>li,
.box-03 .cont>ul>li{min-height: 150px;padding: 20px; background-color: bisque; border-radius: 12px; }

.animation-wrap{max-width:300px}
.animation-wrap .swiper-wrapper{animation: scroll 7.5s linear infinite; display: flex; justify-content: space-around; width: 100%; width: 100%; transition: all .3s ease;}
.animation-wrap .swiper-wrapper .swiper-slide {width: calc(100% / 4);}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
