@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* , * :after, * :before {
	box-sizing: border-box;
	padding:0;
	margin:0;
  word-break: keep-all;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

body {
	font-family: -apple-system, BlinkMacSystemFont, "SF UI Display", "Apple SD Gothic Neo", "RobotoHeader", "Noto Sans KR", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: #222;
	display: flex;
	flex-direction: column;
	}
ul,li,ol,a {list-style: none; text-decoration: none; color:#222}
table, table * {
	border-collapse: collapse;
	border-spacing: 0;
}
.hidden{display: block; text-indent: -999em}

button{
	background: none;
	border: 0;
}
footer {
}
