@charset"UTF-8";

@use "variation" as *;
@use "modal" ;

html,
body {
	width: 100%;
	height: 100vh;
}

#wrap {
	padding: 0 20px;
	max-width: 423px;
	margin: 0 auto;

	div[class*="history-0"] {
		position: relative;
		margin: 0 auto;
		text-align: center;
		
	}
}
// 탐라 구분선
.timeLine-box {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	.timeLine-dot {
		width: auto;
		height: auto;
		.ico{
			display: block;
			width: 100%;
			height: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background-position: center;
			&-cat{
				@include icons($w: 60px, $h: 60px);
				background-image: url($ico-cat);
			}
			&-hurry{
				@include icons($w: 60px, $h: 60px);
				background-image: url($ico-hurry);
			}
			&-graphic{
				@include icons($w: 60px, $h: 60px);
				background-image: url($ico-graphic);
			}
			&-discussion{
				@include icons($w: 60px, $h: 60px);
				background-image: url($ico-discussion);
			}
		}
	}
	.timeLine-line {
		width: 1px;
		height: 100%;
		min-height: 70px;
		background-color: rgb(0 0 0 / 50%);
	}
}

[class*="btn-"] {
	cursor: pointer;
	&:hover {
		font-weight: bold;
	}
}

.div-history{
	.history-yymm{
		cursor: pointer;
		font-size: $ft-normal;
		display: inline-block;
		width: 200px;
		line-height: 24px;
		&:hover{
			opacity: 0.6;
		}
		.ico-arrow {
			background-position: center;
			background-size: 14px;
			background-image: url($ico-arrow-line);
		}
	}
}

.history-content {
	transition: all .3s;
	height: auto;
	width: auto;
	margin: 0 auto;

	&.active{
		transition: all .3s;
		overflow: inherit;
		height: auto;
		padding-top: 16px ;
		padding-bottom: 16px;
	}

	h3.title {
		font-size: $ft-normal;
		text-align: center;
		width: 200px;
		margin: 0 auto;
	}

	.detail {
		display: block;
		text-align: left;
		font-size: $ft-small;
		line-height: 1.6;
		margin-top: 15px;
		padding: 15px;
		box-shadow: $shadow;
		border-radius: 8px;
		p {
			position: relative;
		}
		.sub-title {
			font-weight: bold;
			padding: 4px 0;
			& ~ p {
				&::before {
					content: "";
					width: 3px;
					height: 3px;
					background-color: $jobko-color;
				}
			}
		}

		.btn-popup {
			display: inline-flex;
			align-items: center;
			margin-top: 10px;
			gap:4px;
			color: $jobko-color;
			font-weight: 600;
			&::before {
				content: none !important;
			}
			.ico-popup {
				background-image: url($ico-popup);
			}
		}
	}

}
// ----
.hidden_div {
	height: 0;
	overflow: hidden;
	transition: all .3s ;
}

i.ico {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: contain;
}
// ----
.current-date-container{
	box-shadow: $shadow;
	border-radius: 16px;
	padding: 24px;
	margin-top: 20px;
	.date-mm-yy{
		
	}
	.date-dd{
		font-size: $ft-title;
		font-weight: bold;
	}
	.ico-arrow{
		margin: 0 auto;
		background-image: url($ico-arrow-line);
		background-size: 14px;
		background-position: center;
	}
}


