@charset"UTF-8";

@use "variation"as *;
@use "modal";

html,
body {
	width: 100%;
	height: 100vh;
}

#wrap {
	// padding: 0 20px;

	div[class*="history-0"] {
		position: relative;
		margin: 0 auto;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		background-color: #f5f9ff;
	}
}

// 탐라 구분선
.timeLine-box {
	max-width: 146px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.timeLine-dot {
		width: auto;
		height: auto;

		.ico {
			display: block;
			width: 100%;
			height: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background-position: center;

			&-cat {
				@include icons($w: 60px, $h: 60px);
				background-image: url($ico-cat);
			}

			&-hurry {
				@include icons($w: 60px, $h: 60px);
				background-image: url($ico-hurry);
			}

			&-graphic {
				@include icons($w: 60px, $h: 60px);
				background-image: url($ico-graphic);
			}

			&-discussion {
				@include icons($w: 60px, $h: 60px);
				background-image: url($ico-discussion);
			}
		}
	}

	.timeLine-line {
		width: 1px;
		height: 100%;
		min-height: 70px;
		background-color: rgb(0 0 0 / 50%);
	}
}

[class*="btn-"] {
	cursor: pointer;

	&:hover {
		font-weight: bold;
	}
}

.div-history {
	.history-yymm {
		cursor: pointer;
		font-size: $ft-normal;
		display: inline-block;
		width: 100%;
		line-height: 24px;

		.ico-arrow {
			background-position: center;
			background-size: 14px;
			background-image: url($ico-arrow-line);
		}
	}

	.div-accodiant {
		padding: 20px 15px 20px 20px;
		scroll-behavior: smooth;
		display: flex;
		align-items: flex-start;
		text-align: left;
		width: auto;
		flex: 1;

		.swiper-slide {
			word-break: break-all;
			box-shadow: $shadow;
			padding: 20px;
			border-radius: 8px;
			background-color: #fff;
			&.single-slide{
				width: 350px;
			}
			&:hover{
				background-color: #f8f8f8;
			}
		}
	}
}

.history-content {
	transition: all .3s;
	height: auto;
	width: auto;
	margin: 0 auto;

	&.active {
		transition: all .3s;
		overflow: inherit;
		height: auto;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.detail {
		display: block;
		width: 360px;
		height: auto;
		text-align: left;
		font-size: $ft-small;
		line-height: 1.6;
		padding: 15px;
		box-shadow: $shadow;
		border-radius: 8px;
		background-color: #fff;

		h3.title {
			font-size: $ft-normal;
			width: 100%;
		}

		p {
			position: relative;
		}

		.sub-title {
			font-weight: bold;
			padding: 4px 0;

			& ~ p {
				&::before {
					content: "";
					width: 3px;
					height: 3px;
					background-color: $jobko-color;
				}
			}
		}

		.btn-popup {
			display: inline-flex;
			align-items: center;
			margin-top: 10px;
			gap: 4px;
			color: $jobko-color;
			font-weight: 600;

			&::before {
				content: none !important;
			}

			.ico-popup {
				background-image: url($ico-popup);
			}
		}
	}

}

// ----
.hidden_div {
	height: 0;
	overflow: hidden;
	transition: all .3s;
}

i.ico {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: contain;
}

// ----
.current-date-container {
	box-shadow: $shadow;
	padding: 25px 25px 15px;

	.date-mm-yy {
		font-size: $ft-normal;
	}

	.date-dd {
		font-size: $ft-title;
		font-weight: bold;
	}

	.ico-arrow {
		margin: 0 auto;
		background-image: url($ico-arrow-line);
		background-size: 14px;
		background-position: center;
		cursor: pointer;
		&:hover{
			&+.current-state-info {
				overflow: visible;
				height: 30px;
			}
		}
	}

	.my-state {
		display: inline-flex;
		align-content: center;
		font-size: 12px;
		color: #666;
		padding-top: 10px;
		gap: 4px;

		.badge {
			background-color: $jobko-color;
			border-radius: 4px;
			padding: 2px 8px;
			font-size: 10px;
			color: #fff;
			font-weight: bold;
		}
	}
	.current-state-info {
		overflow: hidden;
		height: 0;
		transition: all .3s;
		line-height: 30px;
		font-size: 12px;
	}
}

.bg-ring.one {
	width: 500px;
	height: 500px;
	position: fixed;
	top: -10%;
	left: -10%;
	border: 60px solid #f5f9ff;
	border-radius: 50%;
	z-index: -1;
}
.bg-ring.two {
	width: 300px;
	height: 300px;
	position: fixed;
	bottom: -10%;
	right:10%;
	border: 50px solid #f5f9ff;
	border-radius: 50%;
	z-index: -1;
}