@charset"UTF-8";
@use "variation"as *;

.modal-root {
	&.hide {
		display: none;
		visibility: hidden;
	}

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(0 0 0 / 50%);

	.modal {
		min-width: 560px;
		min-height: 420px;
		background-color: #fff;
		padding: 24px;
		border-radius: 16px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&-title {
			font-size: $ft-title;
			padding-bottom: 20px;
		}

		&-content {
			.cont-desc {
				font-size: 11px;
				color: #555;
				padding-bottom: 10px;
			}

			.total-info {
				display: flex;
				align-items: center;
				padding: 8px 0;
				gap: 10px;

				.txt__title {
					font-weight: bold;
					white-space: nowrap;

					.icon-skill {
						width: 35px;
						height: 30px;
						background-image: url($ico-soft-skill)
					}
				}
			}
		}

		&-close {
			position: absolute;
			top: 24px;
			right: 24px;

			.btn-close {
				background-image: url($ico-close);
			}
		}
	}
}

.swiper-area {
	img {
		display: block;
		width: 100%;
		min-height: 150px;
	}

	&.card {
		width: 560px;
		height: 196px;

		.swiper.card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}
	}
}

.projects-names {
	width: 100%;

	> ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		li {
			position: relative;
			width: calc(100% / 4);
			height: 60px;

			img {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				display: block;
				width: auto;
				height: 60px;
				margin: auto;
			}
		}
	}
}

.projects-images {
	li {
		overflow: hidden;
		height: 250px;
		box-shadow: $shadow;
		border-radius: 8px;

		img {
			display: block;
			width: 100%;
			min-height: 240px;
			margin: 0 auto;
		}
	}
}

.projects-slides {
	width: 200px;
	box-shadow: $shadow;
	border-radius: 8px;

	.auto {
		overflow: hidden;
		height: auto;
	}
}

.content {
	height: 100%;
	position: relative;
	h2 {
		font-size: 10px;
		font-weight: 400;
		position: absolute;
		top: 0;
		left: 57px;
		background-color: #03A9F4;
		color: #fff;
		padding: 3px 8px 4px 8px;
		border-radius: 4px;
	}

	> ul {
		height: 100%;
	}

	.project__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.txt__title {
			&:before {
				content: '';
				display: inline-block;
				vertical-align: sub;
				width: 20px;
				height: 20px;
				margin-right: 4px;
				background-size: contain;
				background-image: url($ico-calender);
			}

			&.icon-skill {
				font-weight: bold;

				&:before {
					background-image: url($ico-soft-skill)
				}
			}
		}

		.txt__content {
			font-size: 12px;
		}
	}
}

.div-accodiant{
	[class*="swiper-button-"] {
		width: 60px;
		height: 60px;
		background-size: contain;
		background-position: center;
		margin-top: -30px;
	
		&::after {
			content: none;
		}
	}
	
	.swiper-button-next {
		background-image: url($ico-round-arrow);
		margin-right: -18px;
	}
	
	.swiper-button-prev {
		background-image: url($ico-round-arrow);
		transform: rotate(-180deg);
		margin-left: -18px;
	}
	
	.swiper-pagination-total {
		color: #666;
	}

	.swiper-fraction {
		z-index: 5;
		position: absolute;
		bottom: -2px;
		left: 23px;
		right: 0;

		span {
			font-size: 11px;
			color: #666;
		}
	}
	
	.swiper-pagination-current {
		color: $jobko-color;
		font-weight: bold;
	}
}

@media screen and (max-width: 425px) {
	.cordial {
		.content {
			padding: 0;
		}
	}

	.modal-root {
		top: 0;
		transition: all 0.4s;

		&.hide {
			display: block;
			top: 100%;
		}

		.modal {
			width: 100%;
			height: 100%;
			min-width: inherit;
			min-height: inherit;
			border-radius: 0;

			.swiper-area {
				&.card {
					width: 100%;
					height: 190px;
					margin-top: 25px;
				}

				[class*="swiper-button-"] {
					display: none;
				}
			}

			.projects-names {
				width: 100%;
				overflow: hidden;
				border-radius: 8px;
				box-shadow: $shadow;
				margin-top: 20px;

				> ul {
					li {
						width: calc(100% / 2);
					}
				}
			}

			.projects-images {
				li {
					height: 210px;
				}
			}
		}

		&.skt {
			overflow: hidden;

			.modal-content {
				flex-direction: column;
				gap: 15px;
				height: calc(100% - 50px);
				
				.auto{
					height: 430px;
				}

				.projects-slides {
					width: 100%;
					overflow: hidden;
				}

				.content {
					flex: 1;
					width: 100%;
					overflow: auto;
				}
			}

		}

		&.jobko {
			overflow: hidden;

			.modal-content {
				flex-direction: column;
				gap: 15px;
				height: calc(100% - 50px);

				.projects-slides {
					width: 100%;
					overflow: hidden;
				}

				.content {
					flex: 1;
					width: 100%;
					overflow: auto;
				}
			}

		}


	}
}
