<div class="current-date-container">
	<div id="current-date" class="current-date"></div>
	<div class="my-state">
		현재상태<span class="badge">구직 예정입니다.</span>
	</div>
	<button type="button" data-pop="modalExample">메모</button>
	<i class="ico ico-arrow"></i>
	<div class="current-state-info">
		진행중인 프로젝트 2025.12.31 로 종료 예정입니다.
	</div>
</div>
