<footer>
  <p class="copy-right">저작권표시</p>
  <a href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘 제작자: Eideticmemo - Flaticon</a>
  <a href="https://www.flaticon.com/kr/free-icons/-" title="소프트 스킬 아이콘">소프트 스킬 아이콘 제작자: Karyative - Flaticon</a>
</footer>