<head>
  <meta charset="UTF-8">
  <meta name="author" content="Made by LIM">
  <meta name="robots" content="nofollow">
  <meta property="og:image" content="./images/slider_0.3.jpg">
  <meta property="og:title" content="í…ŒìŠ¤íŠ¸_ê²½ë ¥í¬íŠ¸í´ë¦¬ì˜¤">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <!-- style link -->
  <link rel="icon" type="image/x-icon" href="./images/favicon/fire.png">
  <link type="text/css" rel="stylesheet" media="screen" href="./css/common.css">
  <link type="text/css" rel="stylesheet" media="screen" href="./css/main_2025.css">
  <link type="text/css" rel="stylesheet" media="screen" href="./css/lib/swiper-bundle.11.2.10.min.css">

  <title>Work ðŸ–¥_Timeline</title>
  <!--  
  ê¸°ëŠ¥ ì •ë¦¬:
  -->
</head>