<div class="timeLine-box">
  <div class="timeLine-line"></div>
  <div class="timeLine-dot"><i class="ico ico-graphic"></i></div>
</div>

<div class="div-history history-03">
  <h2 class="history-yymm">2021.10 - 2023.12</h2>
  <article class="hidden_div history-content active">
    <div class="detail">
      <h3 class="title">
        경력 정보 & 주요 업무
      </h3>
      <p>기업명 : 이모션 글로벌 . 2년 2개월 </p>
      <p>직무 : UI 웹.모바일 퍼블리싱 담당</p>
      <p class="sub-title">수행업무</p>
      <p>T direct Shop 개선(고도화) 및 운영</p>
      <p>퍼블리싱 담당 (InApp , Web , WebMobile)</p>
      <!-- <p class="btn-popup" data-pop="skt">전체 프로젝트 상세 <i class="ico ico-popup"></i></p> -->
    </div>
  </article>

  <div class="swiper div-accodiant">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="content">
          <h2># SKT T DirectShop - 업무상세 </h2>
          <ul>
            <li class="project__content">
              <p class="txt__title">기간</p>
              <p class="txt__content">입사 ~ 2023-12</p>
              <p class="txt__title">내용</p>
              <p class="txt__content">- T DirectShop 상시 운영 업무 : PC / MO / InApp </p>
              <p class="txt__content">- 2022 T DirectShop 판매기능 고도화 : 모바일 진행</p>
              <p class="txt__content">- 고도화_2022 & 2023 T DirectShop : 모바일 진행 (InApp) *1차 무선, 2차 유선</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
