<div class="timeLine-box">
  <div class="timeLine-dot"></div>
  <div class="timeLine-line"></div>
</div>

<div class="div-history history-03">
  <ul>
    <li>
      <h2>2024.03 ~ 2025.12</h2>
    </li>
  </ul>
</div>
