<div class="timeLine-box">
  <div class="timeLine-line"></div>
  <div class="timeLine-dot"><i class="ico ico-discussion"></i></div>
</div>

<div class="div-history history-03">
  <h2 class="history-yymm">2024.03 ~ 2025.12</h2>
  <article class="hidden_div history-content active">
    <div class="detail">
      <h3 class="title">
        경력 정보 & 주요 업무
        <span class=""></span>
      </h3>
      <p>기업명 : 잡코리아 . 1년 9개월 </p>
      <p>직무 : UI 웹.모바일 퍼블리싱 담당</p>
      <p class="sub-title">수행업무</p>
      <p>잡코리아, 게임잡, 알바몬 이벤트 ui 작업 및 사이트 운영</p>
      <p>퍼블리싱 담당 ( Web , WebMobile)</p>
      <!-- <p class="btn-popup" data-pop="jobko">전체 프로젝트 상세 <i class="ico ico-popup"></i></p> -->
    </div>
  </article>

  <div class="swiper div-accodiant">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="content">
          <h2># 잡코리아 - 업무상세 </h2>
          <ul>
            <li class="project__content">
              <p class="txt__title">기간</p>
              <p class="txt__content">입사 ~ 2025-12</p>
              <p class="txt__title">내용</p>
              <p class="txt__content">- 잡코리아 & 게임잡 & 알바몬 상시 운영 : PC / MO</p>
              <p class="txt__content">- 2025 게임잡 공고 등록/공고뷰 UI 개선 : PC 진행</p>
              <!-- <p class="txt__title icon-skill">사용 스킬</p>
              <p class="txt__content">html, css, jquery, javascript</p> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-ring two"></div>