<div class="timeLine-box">
	<div class="timeLine-line"></div>
	<div class="timeLine-dot"><i class="ico ico-cat"></i></div>
</div>

<div class="div-history history-01">
	<h2 class="history-yymm"> 2018.03 - 2021.05</h2>
	<article class="hidden_div history-content active">
		<div class="detail">
			<h3 class="title">
				경력 정보 & 주요 업무
			</h3>
			<p>기업명 : 코디얼 . 3년 2개월 </p>
			<p>직무 : UI 웹.모바일 퍼블리싱 담당</p>
			<p class="sub-title">수행업무</p>
			<p>* 고객 맞춤 그룹웨어 디자인 ui </p>
			<p>* 사내 사이트 리뉴얼 및 유지보수</p>
			<p>* 'Moim'_2020 (사내솔루션 개발) 등</p>
			<!-- <p class="btn-popup" data-pop="cordial">전체 프로젝트 상세 <i class="ico ico-popup"></i></p> -->
		</div>
	</article>

	<div class="swiper div-accodiant">
		<div class="swiper-wrapper">
			<%- include('slides/_slide_history_01.ejs') %>
		</div>
		<!-- Add Pagination -->
		<div class="swiper-fraction"></div>
		<!-- Add Arrows -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>

<div class="bg-ring one"></div>
