<div class="timeLine-box">
  <div class="timeLine-line"></div>
  <div class="timeLine-dot"><i class="ico ico-hurry"></i></div>
</div>

<div class="div-history history-02">
  <h2 class="history-yymm">2021.05 - 2021.09 <i class="ico ico-arrow"></i></h2>
  <article class="hidden_div history-content">
    <h3 class="title">
      경력 정보 & 주요 업무
    </h3>
    <div class="detail">
      <p>기업명 : 유디아이디 . 5개월</p>
      <p>직무 : UI 웹.모바일 퍼블리싱 담당</p>
      <p class="sub-title">수행업무</p>
      <p>자사 홈페이지 리뉴얼 및 유지보수 UI 담당 resource 관리</p>
      <p>'Moim'_2020 (사내솔루션 개발)</p>
      <p class="btn-popup" data-pop="totall">전체 프로젝트 상세 <i class="ico ico-popup"></i></p>
    </div>
  </article>
</div>
