<div id="cordial" class="modal-root cordial hide">
  <div class="modal">
    <h1 class="modal-title">모달 타이틀</h1>
    <div class="modal-content">
      모달 본문
      <div class="swiper-area card">
        <div class="swiper card">
          <div class="swiper-wrapper">
            <%- include('../slides/_slide_history_01.ejs') %>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
    <button class="modal-close"><i class="ico btn-close"></i></button>
  </div>
</div>