<div id="cordial" class="modal-root udid hide">
	<div class="modal">
		<h1 class="modal-title">프로젝트 상세</h1>
		<div class="modal-content">
			<p class="cont-desc"></p>
			<div class="projects-names">
				<ul>
					<li><img src="../<%= assetPath %>/images/udid-img-01.png" alt=""></li>
				</ul>
			</div>
			<div class="content">
				<h2># 자사 결제(PG)시스템 사이트 유지보수 </h2>
				<ul>
					<li class="project__content">
						<p class="txt__title">투입기간</p>
						<p class="txt__content">입사 ~ 2021-09</p>
						<p class="txt__title">내용 / 담당 영역</p>
						<p class="txt__content">결제(PG)시스템 사이트 퍼블리싱</p>
					</li>
				</ul>
			</div>
		</div>
		<button class="modal-close"><i class="ico btn-close"></i></button>
	</div>
</div>
