<div id="cordial" class="modal-root udid hide">
  <div class="modal">
    <h1 class="modal-title">프로젝트 상세</h1>
    <div class="modal-content">
      <p class="cont-desc"></p>
      <div class="projects-names">
      	<ul>
      		<li><img src="../<%= assetPath %>/images/tds-img-01.png" alt=""></li>
      	</ul>
      </div>
    </div>
    <button class="modal-close"><i class="ico btn-close"></i></button>
  </div>
</div>