<div class="swiper-slide">
  <div class="content">
    <h2># 신용보증기금 차세대 (용역부문)</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2017-12-04 ~ 2018-11-30</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">그룹웨어 퍼블리싱 : UI 담당(2018.04.투입)</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># KBS 한국방송</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2018-07-16 ~ 2018-11-30</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">KBS 코비스 기능 개선</p>
        <p class="txt__content">그룹웨어 퍼블리싱 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 애큐온저축은행</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2018-08-21 ~ 2018-12-30</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">애큐온 저축은행 그룹웨어 재구축</p>
        <p class="txt__content">그룹웨어 퍼블리싱 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 풍산홀딩스</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2019-01-02 ~ 2019-07-12</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">풍산그룹 업무포털 구축</p>
        <p class="txt__content">그룹웨어 퍼블리싱 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 현대해상</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2018-12-17 ~ 2019-12-30</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">현대해상 관리업무 포털 시스템 구축_용역부문</p>
        <p class="txt__content">포털 시스템 , 모바일 퍼블리싱 : UI 지원 및 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 수도권매립지관리공사</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2019-06-03 ~ 2019-07-19</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">수도권매립지관리공사 포탈 개선 용역 부문</p>
        <p class="txt__content">그룹웨어 퍼블리싱 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 하이트진로</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2019-06-03 ~ 2019-10-04</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">하이트진로 탑피스 및 스마트오피스 고도화 도급 용역</p>
        <p class="txt__content">퍼블리싱 : UI 수정 작업</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 기술보증기금</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2019-07-29 ~ 2019-09-20</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">기술보증기금 동영상 게시판 구축</p>
        <p class="txt__content">동영상 게시판 퍼블리싱 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 한솔 PNS IT 서비스부문</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2019-03-05 ~ 2020-02-14</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">한솔PNS 차세대 ECHO 재구축_용역부문</p>
        <p class="txt__content">ECHO 그룹웨어 , 모바일 퍼블리싱 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 부산관광공사</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2019-03-05 ~ 2020-02-14</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">한솔PNS 차세대 ECHO 재구축_용역부문</p>
        <p class="txt__content">ECHO 그룹웨어 , 모바일 퍼블리싱 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 대신증권</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2020-07-06 ~ 2020-08-31</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">대신증권 동호회 기능 구축_2020</p>
        <p class="txt__content">동호회 화면 퍼블리싱 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 진성티이씨 홈페이지</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2020-08-03 ~ 2020-08-31</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">진성티이씨 홈페이지 개선_2020(http://www.jinsungtec.com/)</p>
        <p class="txt__content">플래쉬 제거 수정 및 개편 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>
<div class="swiper-slide">
  <div class="content">
    <h2># 정보통신정책연구원</h2>
    <ul>
      <li class="project__content">
        <p class="txt__title"><i class="fas fa-check"></i>기간</p>
        <p class="txt__content">2020-10-05 ~ 2021-04-01</p>
        <p class="txt__title"><i class="fas fa-check"></i>내용 / 담당 영역</p>
        <p class="txt__content">정보통신정책연구원 업무종합관리시스템(그룹웨어)고도화_2020</p>
        <p class="txt__content">업무종합관리시스템(그룹웨어) 화면 퍼블리싱 : UI 담당</p>
      </li>
    </ul>
  </div>
</div>