<div class="swiper-slide">
	<img src="../<%= assetPath %>/images/jobko-img-01.png" alt="">
</div>
<div class="swiper-slide">
	<img src="../<%= assetPath %>/images/jobko-img-02.png" alt="">
</div>
<div class="swiper-slide">
	<img src="../<%= assetPath %>/images/jobko-img-03.png" alt="">
</div>
<div class="swiper-slide">
	<img src="../<%= assetPath %>/images/jobko-img-04.png" alt="">
</div>

